table {
    font-size: 12pt;
}

#tables-wrapper {
    width: 100%;
    padding-bottom: 15px;
}

#fish-table-wrapper,
#bug-table-wrapper,
#sea-creature-table-wrapper {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}

.global-filters {
    width: 500px;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    margin: auto;
}

.cell-name {
    min-width: 100px;
}

.cell-value {
    text-align: right;
}

.cell-size,
.cell-speed {
    text-align: center;
    width: 85px;
}

.cell-active {
    text-align: center;
    width: 10px
}

.cell-status {
    text-align: center;
}

.cell-action-buttons {  
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.cell-action-buttons > button {
    width: 25px;
    padding: 0;
}

.cell-action-buttons > button + button {
    margin-left: 5px;
}

.thumbnail-image {
    width: 50px;
    image-rendering: pixelated;
}

.warning-image {
    width: 50px;
}
